@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --aiims-blue: #005596;
}

body {
  @apply antialiased tracking-tight bg-surface-light dark:bg-surface-dark;
  font-family: 'Inter', system-ui, sans-serif;
}

/* Slim Scrollbars for Data Tables */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 dark:bg-slate-700 rounded-full;
}

/* Institutional Card Style */
.card-base {
  @apply bg-white dark:bg-slate-900 border border-slate-200 dark:border-slate-800 
         shadow-sm rounded-portal overflow-hidden;
}